.gridContainer {
    height: 100vh; 
  }
  
  .gridContainer .dx-datagrid {
    height: calc(100% - 40px); 
  }
  .grid-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
